@import "var";
@import "base";

header {
  h1 {
    font-size: $fontSize * 2.5;
    text-align: center;
    @include textShadow;
  }
  nav {
    margin: 30px 0px;
    text-align: center;
    ul {
      display: inline;
      li {
        @include transitionAll(0.2s);
        display: inline;
        margin: 15px;
        font-size: $fontSize * 0.6;
        a {
          padding: 5px 50px;
          background-color: $dark;
          border-radius: 20px;
          color: $light;
          @include textShadow;
          &:hover {
            background-color: lighten($dark, 40%);
            color: $accent;
          }
        }
      }
    }
  }
}

.content-box {
  float: left;
  height: 550px;
  margin: 1%;
  padding: 1%;
  width: 29%;
  border-radius: 50px;
  background-color: lighten($dark, 50%);
  img {
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  h2 {
    font-size: $fontSize * 0.8;
    text-align: center;
    @include textShadow;
  }
  &:nth-child(3n) {
    background-color: lighten($accent, 30%);
    h2 {
      color: $accent;
    }
  }
  &:nth-child(3n+2) {
    background-color: lighten($light, 40%);
    h2 {
      color: $light;
    }
  }
}

.content-box:nth-child(3n+1) {
  clear: both;
}

.center {
  text-align: center;
}